<div>
   <p align="center">
         	{% if page.copyright=='flyever' %}
             <img src="http://www.ityouknow.com/assets/images/flyever.jpg" >
            {% elsif page.copyright=='itmind' %}
             <img src="http://www.ityouknow.com/assets/images/itmind.jpg" >
            {% else %}
             <img src="https://noseparte-1256862255.cos.ap-chengdu.myqcloud.com/awakenCN.jpg" >
            {% endif %}
         <br/>
          扫码关注有惊喜
   </p>
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（转载本站文章请注明作者和出处 <a href="https://github.com/AwakenCN/Almost-Famous">AwakenCN/Almost-Famous</a>）</strong>
   </p>
</div>